<h1>プロフィール</h1>
<br>
<p>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar %>
  <% end %>
</p>
<h2>名前</h2>
<%= current_user.name %>
<h2>年齢</h2>
<%= current_user.age %>
<h2>メールアドレス</h2>
<%= current_user.email %>
<%= link_to '編集情報', edit_user_registration_path %>